@model MVCVentas.Models.VMArticle

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h2>Nuevo Artículo</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rubro" class="control-label"></label>
                <select asp-for="Id_Rubro" class ="form-control" asp-items="ViewBag.Id_Rubro"></select>
            </div>
            <div class="form-group">
                <label>Estado de Artículo</label>
                <div class="form-check">
                    <input type="radio" id="activoOption" class="form-check-input" asp-for="Activo" value="true" />
                    <label for="activoOption" class="form-check-label">Activado</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="inactivoOption" class="form-check-input" asp-for="Activo" value="false" />
                    <label for="inactivoOption" class="form-check-label">Desactivado</label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio.Precio" class="control-label"></label>
                <input asp-for="Precio.Precio" class="form-control" data-val="false" />
                <span asp-validation-for="Precio.Precio" class="text-danger"></span>
            </div>

            @* Formulario para Stock: *@

            <div class="form-group">
                <label>¿El artículo usa stock?</label>
                <div class="form-check">
                    <input type="radio" id="siOption" class="form-check-input" asp-for="UsaStock" value="true" />
                    <label for="siOption" class="form-check-label">Sí</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="noOption" class="form-check-input" asp-for="UsaStock" value="false" />
                    <label for="noOption" class="form-check-label">No</label>
                </div>
            </div>

            <div id="divStockForm" style="display:none">
                <h4>Control de Stock</h4>
                <div class="form-group">
                    <label class="control-label">Cantidad de Artículos</label>
                    <input asp-for="Stock.Cantidad" class="form-control" />
                    <span asp-validation-for="Stock.Cantidad" class="text-danger"></span>
                </div>
            </div>

            @* Fin formulario para Stock *@

            @* Inicio formulario para Combo *@

            <div class="form-group">
                <label>¿El artículo tiene Combo?</label>
                <div class="form-check">
                    <input type="radio" id="siOptionCombo" class="form-check-input" asp-for="UsaCombo" value="true" />
                    <label for="siOptionCombo" class="form-check-label">Sí</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="noOptionCombo" class="form-check-input" asp-for="UsaCombo" value="false" />
                    <label for="noOptionCombo" class="form-check-label">No</label>
                </div>
            </div>

            <!-- Botón para abrir la ventana emergente -->
            <div id="divCombosForm" class="form-group">
                <button type="button" class="btn btn-primary boton-add-articulos" data-toggle="modal" data-target="#articulosModal">
                    Agregar Artículos al Combo
                </button>
            </div>

            @Html.Partial("_CombosPartial", Model)

            @* Fin formulario para Combo *@

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // Manejo del cambio en el radio
            $('input[name="UsaStock"]').change(function () {
                if ($(this).val() == "true") {
                    // Si UsaStock es true, muestra el formulario de stock
                    $('#divStockForm').show();
                } else {
                    // Si UsaStock es false, oculta el formulario de stock
                    $('#divStockForm').hide();
                }
            });

            // Al cargar la pag, verifica el valor inicial de UsaStock
            if ($('input[name="UsaStock"]:checked').val() === "true") {
                $('#divStockForm').show();
            }
        });

        $(document).ready(function () {
            // Manejo del cambio en el radio
            $('input[name="UsaCombo"]').change(function () {
                if ($(this).val() == "true") {
                    // Si UsaCombo es true, muestra el formulario de stock
                    $('#divCombosForm').show();
                } else {
                    // Si UsaCombo es false, oculta el formulario de stock
                    $('#divCombosForm').hide();
                }
            });

            // Al cargar la pag, verifica el valor inicial de UsaStock
            if ($('input[name="UsaCombo"]:checked').val() === "true") {
                $('#divCombosForm').show();
            }
            else {
                $('#divCombosForm').hide();
            }
        });

        $(document).ready(function () {
            // Inicializar la tabla con DataTables
            $('#articulosTable').DataTable({
                "paging": false,          // Desactivar paginación
                "scrollY": "400px",       // Altura fija con barra de desplazamiento si es necesario
                "scrollCollapse": true,   // Colapsar la tabla si la altura es menor que el contenido
                "searching": true,        // Habilitar la función de búsqueda
                "ordering": true,         // Deshabilitar la ordenación
                "info": false,            // Deshabilitar la información de la tabla
            });
        });

    </script>
}