@model MVCVentas.Models.VMPromoDescuento_E

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .boton-add-articulos {
        margin-top: 10px;
        margin-bottom:10px
    }
</style>

<h1>Create</h1>

<h4>VMPromoDescuento_E</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Tipo" class="control-label"></label>
                <select asp-for="Id_Tipo" class ="form-control" asp-items="ViewBag.Id_Tipo"></select>
            </div>

            <label asp-for="ArticulosSeleccionados">Artículos de promoción:</label>
            <div id="articulos-container">
                <div class="articulo-item">
                    @Html.DropDownListFor(model => model.ArticulosSeleccionados, Model.ListaArticulos, new { @class = "form-control", Name = "ArticulosSeleccionados[0]" })

                    <div class="boton-add-articulos">
                        <!-- Botones para agregar o quitar artículos -->
                        <button type="button" class="btn btn-success" onclick="agregarArticulo()">+</button>
                        <button type="button" class="btn btn-danger" onclick="eliminarArticulo(this)">-</button>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        var contadorArticulos = 1;

        function agregarArticulo() {

            var nuevoArticulo = $("#articulos-container .articulo-item:first").clone();

            nuevoArticulo.find("select").attr("name", "ArticulosSeleccionados[" + contadorArticulos + "]");

            nuevoArticulo.appendTo("#articulos-container");
            contadorArticulos++;
        }

        function eliminarArticulo(button) {
            // Verifica si es el primer formulario antes de eliminar
            if ($("#articulos-container .articulo-item").length > 1) {

                $(button).closest(".articulo-item").remove();
            }
        }
    </script>

}
