@model MVCVentas.Models.VMModulo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles del módulo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Código de Módulo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CodModulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CodModulo">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
