<div class="contenedor-cupones">
    <input id="cuponInput1" type="text" maxlength="3" oninput="moverFoco(this, 'cuponInput2')" />
    <span>-</span>
    <input id="cuponInput2" type="text" maxlength="3" oninput="moverFoco(this, 'cuponInput3')" />
    <span>-</span>
    <input id="cuponInput3" type="text" maxlength="3" />
</div>