@model MVCVentas.Models.VMPromoDescuento_E

<div class="contenedor-tabla-promociones">
    <table id="table-promociones">
        <tbody id="tabla-body-promociones">
        </tbody>
    </table>
</div>