<div>
    <button type="button" data-dismiss="modal" id="btn-tipo-solo">SOLO</button>

    <button type="button" data-dismiss="modal" id="btn-tipo-combo">COMBO</button>
</div>

@* onclick="elegirTipoArticulo(this.id)" *@