@model string
@{
}

<object data="@Model" type="application/pdf" width="100%" height="600">
    <p>Tu navegador no puede mostrar este archivo PDF. Puedes <a href="@Model">descargarlo aquí</a>.</p>
</object>