@model MVCVentas.Models.VMCategory

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Usuario</h1>

<h3>¿Está seguro de eliminar la categoría?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Categoría
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Categoria" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
