@model MVCVentas.Models.VMSucursal

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VMSucursal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoFactura.Id_TipoFactura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumSucursal">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
