body {
}

#formVenta{
    width: 100%;
    height: 100%;
}

#formVenta .form-group{
    display: flex;
    width: 100%;
    margin-bottom: 7px;
}

    #formVenta .form-group div{
        width: 200px;
    }

    #formVenta .form-group button{
        margin-left: 10px;
    }

#listaTarjetas {
    margin-left: 10px;
    width: 141px;
    padding-right: 0;
}

#btn-cliente-modal {
    width: 141px;
}

#btn-formaspago-modal {
    width: 141px;
    padding-left: 0;
    padding-right: 0;
}